---
layout: layout.liquid
title: Comics
head: '<script src="/js/comic.js" defer></script>'
---
{%- assign prev_url = collections.comics | prevUrl: page.url -%}
{%- assign next_url = collections.comics | nextUrl: page.url -%}

<main class="comic-page">
    <section class="panel" data-layout="full">
        <div class="comic-frame bg-white">
            <h1 class="comic-title">{{ title }}</h1>

            <img src="{{ image }}" class="comic" alt="{{ alt | default: 'Three panel comic strip.' }}">

            <div class="transcript visually-hidden" id="transcription">
                <h1>Transcription</h1>
                {{ content }}
            </div>

            <div class="comic-nav">
                <div>
                    <button id="toggle-transcript">Show transcription</button>
                </div>
                {%- if prev_url -%}
                    <a href="{{ prev_url }}">&larr; Previous</a>
                {%- else -%}
                    <span>&ensp;</span>
                {%- endif -%}

                {%- if next_url -%}
                    <a href="{{ next_url }}">Next &rarr;</a>
                {%- else -%}
                    <span>Done!</span>
                {%- endif -%}
            </div>
        </div>
    </section>
</main>
